aiogram==2.25.1
aiohttp==3.8.4
aiosignal==1.3.1
aiosqlite==0.18.0
asgiref==3.5.2
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==21.2.0
Babel==2.9.1
bcc==0.18.0
bcrypt==3.2.0
beautifulsoup4==4.11.1
black==21.9b0
blinker==1.4
Brlapi==0.8.3
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.7
chrome-gnome-shell==0.0.0
click==8.0.3
colorama==0.4.4
command-not-found==0.3
configparser==5.3.0
cryptography==35.0.0
cssutils==2.6.0
cupshelpers==1.0
dbus-python==1.2.18
defer==1.0.6
defusedxml==0.7.1
diff-match-patch==20200713
distlib==0.3.7
distro==1.7.0
distro-info==1.1+ubuntu0.1
Django==4.1.4
django-ckeditor==6.5.1
django-crispy-forms==1.14.0
django-debug-toolbar==3.2.4
django-import-export==3.0.2
django-jet-reboot==1.3.3
django-js-asset==1.2.2
django-model-search==3.0.0
django-modeltranslation==0.18.7
django-mptt==0.13.4
django-widget-tweaks==1.4.12
djangorestframework==3.13.1
dnspython==2.1.0
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
egcd==0.4.3
environs==8.0.0
et-xmlfile==1.1.0
evdev==1.4.0
exrex==0.11.0
factory-boy==3.2.0
Faker==9.5.2
filelock==3.12.2
flake8==5.0.4
flake8-quotes==3.3.1
flake8-variables-names==0.0.5
frozenlist==1.3.3
future==0.18.3
gmpy2==2.1.5
gobject==0.1.0
h11==0.12.0
hidpidaemon==18.4.6
html5lib==1.1
httplib2==0.20.2
idna==3.3
importlib-metadata==4.6.4
inflection==0.5.1
iniconfig==1.1.1
install==1.3.5
jeepney==0.7.1
Jinja2==3.0.3
jsonschema==3.2.0
kazam==1.4.5
kernelstub==3.1.4
keyring==23.5.0
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
louis==3.20.0
lxml==4.8.0
macaroonbakery==1.3.1
magic-filter==1.0.9
Mako==1.1.3
Markdown==3.3.6
MarkupPy==1.14
MarkupSafe==2.0.1
marshmallow==3.19.0
mccabe==0.7.0
meson==0.61.2
more-itertools==8.10.0
multidict==6.0.4
mypy-extensions==0.4.3
mysqlclient==2.1.1
netaddr==0.8.0
netifaces==0.11.0
ninja==1.10.2.3
numpy==1.25.2
oauthlib==3.2.0
odfpy==1.4.1
openpyxl==3.0.10
outcome==1.1.0
packaging==21.0
pandas==2.0.3
pathspec==0.9.0
pep8-naming==0.13.2
Pillow==8.4.0
platformdirs==3.9.1
pluggy==1.0.0
pop-transition==1.1.2
protobuf==3.12.4
proton-client==0.7.1
protonvpn-cli==3.13.0
protonvpn-gui==1.12.0
protonvpn-nm-lib==3.16.0
psutil==5.9.0
psycopg2-binary==2.9.2
py==1.10.0
pyaes==1.6.1
pyasn1==0.4.8
pycairo==1.20.1
pycodestyle==2.9.1
pycparser==2.20
pycups==2.0.1
pydbus==0.6.0
pyflakes==2.5.0
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pynliner==0.8.0
pyOpenSSL==21.0.0
pyparsing==3.0.1
pyRFC3339==1.1
pyrsistent==0.18.1
PySocks==1.7.1
pytest==6.2.5
pytest-base-url==1.4.2
pytest-django==4.4.0
pytest-factoryboy==2.1.0
pytest-html==3.1.1
pytest-metadata==1.11.0
pytest-selenium==2.0.1
pytest-variables==1.9.0
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
python-dbusmock==0.27.5
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.0
python-gnupg==0.4.8
python-xlib==0.29
pythondialog==3.5.1
pytz==2021.3
pyudev==0.22.0
pyxdg==0.27
PyYAML==6.0
regex==2021.10.23
repolib==2.2.1
repoman==1.4.0
requests==2.26.0
requests-futures==1.0.1
requests-toolbelt==0.9.1
rsa==4.9
screen-resolution-extra==0.0.0
SecretStorage==3.3.1
selenium==4.0.0
sessioninstaller==0.0.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
stem==1.8.2
systemd-python==234
tablib==3.3.0
Telethon==1.26.1
tenacity==6.3.1
text-unidecode==1.3
texttable==1.6.4
toml==0.10.2
tomli==1.2.2
torrequest==0.1.0
trio==0.19.0
trio-websocket==0.9.2
typing_extensions==4.4.0
tzdata==2023.3
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
urllib3==1.26.7
vboxapi==1.0
virtualenv==20.24.2
wadllib==1.3.6
webencodings==0.5.1
websocket-client==1.2.3
wsproto==1.0.0
xdg==5
xkit==0.0.0
xlrd==2.0.1
xlwt==1.3.0
yarl==1.8.2
zipp==1.0.0
